<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta id="csrfName" name="{{ csrf.keys.name }}" content="{{ csrf.name }}">
    <meta id="csrfValue" name="{{ csrf.keys.value }}" content="{{ csrf.value }}">
    <title>{% block title %}.::CeaNotes{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/iconoir/css/iconoir.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="container-fluid py-2 cs-brand d-flex justify-content-between align-items-center ">
        <a href="" class="d-block d-flex align-items-center text-decoration-none" style="width: 30%">
            <i class="iconoir-bookmark-book fs-4 me-1"></i>
            CeaNotes
        </a>
        <form action="" style="width: 40%">
            <input type="search" name="" id="" class="form-control py-1 search " placeholder="Search anything"/>
        </form>
{#        <div class="user text-white text-end" style="width: 30%">#}
{#            <i class="bi bi-bell me-4 fs-5"></i>#}
{#            <span>ABIGAIL OGBUA</span>#}
{#            <i class="bi bi-person-circle ms-2 fs-5"></i>#}
{#        </div>#}
        <div class="text-white text-end" style="width: 30%">
            <i class="bi bi-bell me-4 fs-5"></i>
            <div class="dropdown d-inline-block">
                <a href="#" class="text-decoration-none d-flex align-items-center text-white" id="userDropDownMenu" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <span>{{ auth.name ?: 'ABIGAIL OGBUA' }}</span>
                    <i class="bi bi-person-circle ms-2 fs-5"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropDownMenu">
                    <li>
                        <form action="/logout" method="post">
                            {{ csrf.fields | raw }}
                            <button class="dropdown-item" href="#">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg cs-navbar ">
        <div class="">
            <button type="button" class="navbar-toggler"
                    data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-2 px-0 cs-navbar-nav fw-light">
                    <li class="nav-item fs-5 ">
                        <a href="#"
                           class="nav-link d-block d-flex align-items-center ">
                            <i class="iconoir-home-alt me-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-mortarboard"></i>
                            Courses
                        </a>
                    </li>
                    <li class="nav-item dropdown fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-person-workspace"></i>
                            Lectures
                        </a>
                    </li>
                    <li class="nav-item dropdown fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-clipboard-data"></i>
                            Assessments
                        </a>
                    </li>
                    <li class="nav-item dropdown fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-grid-3x2-gap"></i>
                            Resource Library
                        </a>
                    </li>
                    <li class="nav-item dropdown fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-bar-chart"></i>
                            Analytics</a>
                    </li>
                    <li class="nav-item dropdown fs-5 ">
                        <a href="#" class="nav-link">
                            <i class="bi bi-chat-left-text"></i>
                            Feedback & Communication</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="">
    <div class="main-wrapper  ">
        <!--        left sidebar -->
        <div class="left-sidebar ps-3 d-flex flex-column text-white ">
            <h5 class="fw-light mt-4 ">Quick Access</h5>
            <hr>
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a href="" class="nav-link "><i class="bi bi-journal-plus me-1"></i> Create Course</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-file-earmark-plus me-1"></i> Create New Lecture</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-clock-history me-1"></i> Timeline</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-calendar2-check me-1"></i> Calendar</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-question-circle me-1"></i> Create Assessment</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-upload me-1"></i> Upload Materials</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-eye me-1"></i> View Assignment</a>
                </li>
                <hr/>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-gear me-1"></i> Settings</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</main>
</body>
</html>
